[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Categories=Network;

Name=TeamViewer
Comment=Remote control solution.
Exec=/opt/teamviewer/tv_bin/script/teamviewer
StartupWMClass=TeamViewer

Icon=TeamViewer
